<div class="container-main">
  <div class="layout-3col">
    <aside>
      <%= render "shared/left_sidebar" %>
    </aside>
    <main>
      <h1 class="text-2xl font-bold mb-6 text-primary-blue-dark">
        All Users
      </h1>
      <%# Fixed Container ID & Plural variable typo %>
      <div id="users-container" class="flex flex-col gap-2">
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </div>
      <%# Cleaned up structural HTML layout tags out of this block %>
      <%= turbo_frame_tag "pagy_pagination_frame" do %>
        <% if @pagy.next %>
          <div data-controller="infinite-scroll" class="my-8 text-center py-4">
            <%= link_to "Loading more users...", 
                        users_path(page: @pagy.next), 
                        data: { 
                          turbo_stream: true,
                          infinite_scroll_target: "link" 
                        }, 
                        class: "text-gray-500 text-sm tracking-wide animate-pulse" %>
          </div>
        <% end %>
      <% end %>
    </main>
    <aside>
      <%= render "shared/advertisement" %>
    </aside>
  </div>
</div>