<div class="container-main">

  <div class="layout-3col">

    <!-- LEFT SIDEBAR -->
    <aside>
      <div class="card">
        <h2 class="font-semibold mb-2">
			Navigation
		</h2>
        <p class="text-sm opacity-70">
			Links coming later
		</p>
      </div>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="space-y-6">

      <!-- PROFILE HEADER -->
      <div class="card card-hover">
        <h1 class="text-2xl font-bold text-primary-blue-dark mb-2">
          <%= @user.username %>
        </h1>

		<% if @user.avatar.attached? %>
		<div class="mb-2">
			<p class="text-sm font-semibold">Avatar</p>
			<%= image_tag @user.avatar, class: "w-16 h-16 rounded-full object-cover" %>
		</div>
		<% end %>

        <p class="text-sm opacity-80">
          <span class="font-semibold">Username:</span>
          <%= @user.username %>
        </p>

        <p class="text-sm opacity-80">
          <span class="font-semibold">Email:</span>
          <%= @user.email %>
        </p>

		<p><%= @user.followers.count %> followers</p>
		<p><%= @user.following.count %> following</p>

		<% unless current_user == @user %>
			<% if current_user.following?(@user) %>
				<%= button_to "Unfollow",
					user_follow_path(@user),
					method: :delete,
					class: "text-sm" %>
			<% else %>
				<%= button_to "Follow",
					user_follow_path(@user),
					method: :post,
					class: "text-sm" %>
			<% end %>
		<% end %>
      </div>

		<% if current_user == @user %>
		<div class="mt-4">
			<%= link_to "Edit Profile",
				profile_edit_path,
                class: "btn btn-primary self-start mt-2" %>
		</div>
		<% end %>

      <h2 class="text-xl font-bold text-primary-blue-dark mb-2">Create a Post</h2>
	  <%= render "posts/create_post" %>

      <!-- POSTS HEADER -->
        <h2 class="text-xl font-bold text-primary-blue-dark">
          Posts
        </h2>


      <!-- POSTS LIST -->
      <% if @posts.any? %>
        <div class="space-y-3">

          <% @posts.each do |post| %>
			<%= render post %>
			<% end %>
        </div>





      <% else %>
        <div class="card">
          <p class="opacity-70">No posts yet.</p>
        </div>
		
      <% end %>

    </main>

    <!-- RIGHT SIDEBAR -->
	<aside>
	<div class="card-white">
		<h2 class="font-semibold mb-2">
		User Profile Card
		</h2>

		<ul>
		<%= render "users/user",
				user: (@user || current_user),
				show_follow_button: false %>
		</ul>
	</div>
	</aside>



  </div>

</div>



